    {% if site.footer %}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        Copyright &copy; {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{% if site.footer_text %}. {{ site.footer_text }}{%- endif -%}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}