{% capture teachings %}{% include_relative _teachings.md %}{% endcapture %}
{% capture academic_services %}{% include_relative _academic_services.md %}{% endcapture %}
{% capture awards %}{% include_relative _awards.md %}{% endcapture %}
          <!-- Teachings -->
          <div class="teachings">
            {{ teachings | markdownify }}
          </div>

          <!-- Academic Services -->
          <div class="academic_services">
            {{ academic_services | markdownify }}
          </div>

          <!-- Awards -->
          <div class="awards">
            {{ awards | markdownify }}
          </div>
