/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography
html {
  background: url(../../assets/img/bg.png) 0 0 repeat fixed transparent;
}
body {
  max-width: 800px;
  padding: 0 .8em;
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color);
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

a, table.table a {
  color: var(--global-theme-color);
  &:hover {
    color: var(--global-theme-color);
    text-decoration: none;
  }
  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

.font-capital{
  text-transform: uppercase;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Card

.card {
  background-color: var(--global-card-bg-color);
  
  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Citation
.citation, .citation-number {
  color: var(--global-theme-color);
}

// Profile
.profile-photo {
  display: block;
}
.profile-info {
  margin: 0 0 1rem;
  width: 69.5%;
  float: left;
  p.desc {
    margin: 0.5rem 0 0;
  }
}

.contact {
  font-family: monospace;
  i {
    color: #4b4b4b;
    position: relative;
    bottom: -0.1rem;
    transition-property: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
  }
}
.contact:hover {
  i {
    color: var(--global-theme-color);
  }
}

@media (min-width: 576px) {
  .profile-photo {
    width: 30.5%;
    display: block;
  }
  .profile-info {
    padding: 0 0 0 1.4rem;
    top: -0.5rem;
    position: relative;
  }
}
@media (max-width: 575px) {
  .profile-photo {
    width: 100%;
    margin-bottom: 1rem;
    figure {
      width: 70%;
      margin: 0 auto;
      display: block;
    }
  }
  .profile-info {
    width: 100%;
    text-align: center;
  }
  .contact {
    font-size: 0.83rem;
  }
}

.description {
  text-align: justify;
  margin: 0.5rem 0 0;
}
.post h2 {
  color: var(--global-theme-color);
  margin: 1.8rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  display: table;
  text-shadow: 3px 2px 12px rgba(204, 204, 204, 0.96);
  padding: 4px 9px;
  background: #f4f4f4;
  border-radius: 0.3rem;
  user-select: none;
}
.post h3 {
  color: var(--global-theme-color);
  margin: 1.8rem 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  display: table;
  padding: 4px 9px;
}
.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  background-color: var(--global-bg-color);
  box-shadow: 0 0 20px rgba(0,0,0,.05);
  opacity: 0.95;
}
.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
  a:not(.active) {
    color: var(--global-text-color);
  }
  a:hover {
    color: var(--global-hover-color);
  }
  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}
.dropdown-item {
  color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      background-color: var(--global-bg-color);
    }
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color-light);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}


// News
.news {
  margin-top: 1rem;
  .table {
    margin-bottom: 0;
    td {
      color: var(--global-text-color);
      padding-top: 0.1rem;
      padding-bottom: 0.3rem;
    }
    th {
      color: var(--global-text-color);
      padding-top: 0.1rem;
      padding-bottom: 0.3rem;
      width: 4em;
      display: table-cell;
    }
  }
}

// Highlights
.academic_services, .awards {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
}
.teachings li, .academic_services li, .awards li {
  margin-bottom: 0.5em;
}
.teachings .course_code {
  padding: 0.1em 0.4em;
  bottom: 0.1em;
  border-radius: 3px;
  position: relative;
  background: #EEE;
  font-size: 0.8em;
  font-family: courier;
  color: var(--global-theme-color);
  -webkit-user-drag: none;
  user-select: none;
  line-height: 1;
}

// Research Groups
.research-group {
  margin-bottom: 1.5rem; 
  .people {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1.5rem;
    padding: 0.4rem;
    position: relative;
    background-color: #e6ffe8;
    min-height: 120px;
    
    .photo {
      width: 45%;
      position: absolute;
      top: 0;
      right: 0;
      img {
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        -webkit-user-drag: none;
        user-select: none;
      }
    }

    .info {
      width: 65%;
      margin: 0;
      padding-right: 10px;
      text-align: left;
      font-size: 0.8rem;
      .name {
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      .post, .period {
        display: block;
        font-weight: 200;
      }
      .link {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        display: block;
      }
    }
  }

  .people:nth-child(3n) {
    margin-right: 0;
  }
}


@media (max-width: 575px) {
  .research-group {
      width: 80%;
      margin: 0 auto;
    .people {
      width: 100%;
      margin-bottom: 1em;
      padding: 0.4rem;
    }
  }
}

.research-text {
  padding: 2px 5px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 12%;
  font-family: monospace;
  font-style: normal;
  font-size: 0.7rem;
  letter-spacing: 0.02rem;
  position: relative;
  bottom: 0.15rem;
  user-select: none;
  color: #595959;
}
.research-text-eda {
  background: #fff0bb;
}
.research-text-eda::after {
  content: "EDA";
}
.research-text-ml {
  background: #bbf9ff;
}
.research-text-ml::after {
  content: "ML";
}
.research-text-med {
  background: #1ab7ff;
}
.research-text-med::after {
  content: "MED";
}
.research-text-security {
  background: #ffce9e;
}
.research-text-security::after {
  content: "SECURITY";
}
.research-text-quantum {
  background: #ffce9e;
}
.research-text-quantum::after {
  content: "Quantum";
}

// Social (bottom)
.social {
  .contact-icons {
    font-size: 1.5rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        text-decoration: none;
        border: none;
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-texts {
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  padding: 0 0 3rem;
  font-size: 0.9rem;
  text-align: center;
  .container {
    color: var(--global-footer-text-color);
  }
}


// Blog
.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        color: $black-color;
      }
    }
    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);
      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}


// Distill
.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects
.projects {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer, .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}


// Publications, Patents
.publications, .patents {
  margin-top: 1rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  .pub_title {
    color: var(--global-theme-color);
    margin: 1em 0;
  }
  ol.bibliography {
    padding: 0;
    margin-top: 0;
    counter-reset: list;

    li {
      list-style: none;
      position: relative;
      margin-bottom: 1rem;
      margin-left: 3.6rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      .title {
        font-weight: bolder;
      }
      .venue {
        font-style: italic;
      }
      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
          font-weight: bolder;
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
  .journal {
    li:before {
      counter-increment: list;
      content: "[J" counter(list, numeric) "] ";
      position: absolute;
      left: -3.5rem;
      font-family: monospace;
    }
  }
  .conference {
    li:before {
      counter-increment: list;
      content: "[C" counter(list, numeric) "] ";
      position: absolute;
      left: -3.5rem;
      font-family: monospace;
    }
  }
  .book {
    li:before {
      counter-increment: list;
      content: "[B" counter(list, numeric) "] ";
      position: absolute;
      left: -3.5rem;
      font-family: monospace;
    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// Extra Markdown style (post Customization)
.post{
  div.post-title{
    display: block;
    .alter-post-title{
      margin-left: 10px;
      margin-top: 4px;
      display: inline-block;
      -webkit-user-drag: none;
      user-select: none;
    }
    img{
      -webkit-user-drag: none;
      user-select: none;
      pointer-events: none;
    }
  }
  .post-meta{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .post-tags{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    padding-bottom: 1rem;
    a {
      color: var(--global-text-color-light);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .post-content{
    blockquote {
      border-left: 5px solid var(--global-theme-color);
      padding: 8px;
    }
  }
}

.post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-top: 0.25rem;
}
.z-dept-1{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important}

.event_img {width: 100%; margin: 10px 0 0; user-select: none; display: table; pointer-events: none; vertical-align: middle; img{border-radius: 0.25rem!important;display: block;float: left;margin: 0 0.3em;}}

// Custom IDEA icon
.idea-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('/assets/img/icon/idea.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

// // Fallback if image doesn't exist - show lightbulb icon
// .idea-icon:empty::before {
//   font-family: "Font Awesome 6 Free";
//   font-weight: 900;
//   content: "\f0eb"; /* lightbulb unicode */
//   font-size: 16px;
//   color: var(--global-theme-color);
// }